html,
body {
  height: 100%;
}

.grid_login{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;

}

.grid_title{

  background-color: #4267B2;

  /* background-color: #4267B2; */


}
.grid_title h1 {

  color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}


.btn-feisbuk{
  background-color: #4267B2;
  color: #fff;
}
 /*=== inicio_view ===*/

 .inicio_view {
  height: 100vh;
  background-color: #4267B2;
 }
.grid_title a{
  text-decoration: none;
}
.grid_title h1{
  font-size: 7rem;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}


/*=== Home view ===*/

.navbar-feisbuc{
  background-color: #4267B2;
}

.link-feisbuc{
  color: #fff;
  margin-right: 10px;
  padding: 10px;

}

.logo_home{
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}

.link-feisbuc:hover{

  text-decoration: none;
  color: #fff;
  border: solid 1px #fff;
}

.grid_box_1{
  background-color: rgba(219, 219, 219, .3);
  height: 100vh;
}

.grid_home{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: .3em;
}

.grid_items{
  margin: 5%;
}

.nav-faisbuc{
  color: rgba(255, 255, 255, .5) !important;
}

.nav-faisbuc:hover{
  color: rgba(255, 255, 255, 1) !important;
}